body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    color:rgb(11, 0, 59);
    overflow-y: scroll;
}

.hieu_ung_chu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
    margin-top: 300px;
}

h1, h2{
    font-weight: 200;
    margin: 0.4rem;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size:2rem;
}

.tu {
   border-right: 0.2rem solid #ccc; 
}

@media(min-width: 1200px) {
    h1{
        font-size: 5rem;
    }
}

@media(max-width: 800px){
    .hieu_ung_chu{
        padding: 0 1rem;
    }

    h1{
        font-size: 3rem;
    }
}

@media(max-width:500px) {
    h1 {
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.5rem;
    }
}

.danh_chu{
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    background-color:rgb(149, 215, 231);
    background-image: linear-gradient(rgb(149, 215, 231), cyan);
    width: 100%;
    height: 96px;
    position: fixed;
    margin-top: -300px;
    /* margin-top: -10px; */
    z-index: 200;
}

.menuHeader{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: -90px 300px 0 290px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(48, 1, 109);
    position: relative;

}

#gifHeader{
    margin-left: 1250px;
    margin-top: -50px;
}

.header ul li:hover{
    text-decoration:none;
    color:  chocolate;
    cursor:pointer;
}
#myphoto{
    margin-top: 80px;
    z-index: 100;
    height: 80%;
    width: 100%;
}
#imgHeader{
    text-indent: 240px;
    padding: 10px;
    margin-top: -30px;
    margin-left: -100px;
}

.layer1{
    width: 100%;
    height: 800px;
    background-color: rgb(198, 244, 255);
    margin-top:300px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}

.layer2a{
    width: 30%;
    height: 700px;
    margin: auto auto;
    box-shadow: -1px -2px 3px rgb(51, 3, 3); 
    background-color: whitesmoke;
}

.layer2b{
    width: 60%;
    height: 700px;
    margin: auto auto;
    box-shadow: 1px -2px 3px rgb(51, 3, 3);
    background-color: whitesmoke;
    position: relative;
}


.avatar{
    padding-top: 30px;
}

.information{
    margin: auto auto auto 20px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.infor{
    width: 95%;
    height: 20px;
    background-color: rgb(53, 99, 252);
    margin: -15px auto 20px 0px;

}

.education{
    width: 95%;
    height: 20px;
    background-color:rgb(53, 99, 252);
    margin: auto auto 20px 0px;
}

.aboutme{
    margin-left: 20px;
    font-weight: bolder;
    font-size: 35px;
    font-family: monospace;
}

.gachchan{
    width: 15%;
    height: 3px;
    margin-left: 20px;
    background-color: blue;
}

.shortcomings{
    width: 30%;
    height: 15px;
    margin: auto auto;
    background-color: rgb(0, 2, 15);
}
.drawskill{
    width: 70%;
    height: auto;
    margin: auto auto auto 20px;
    background-color: red;
    display: flex;
}

.linelevel2{
    width: 40%;
    height: auto;
    margin: auto auto auto 20px;
    background-color: red;
    
}

.shortcomings2{
    width: 60%;
    height: 15px;
    margin: auto auto;
    background-color: rgb(0, 2, 15);
}

.linelevel3{
    width: 30%;
    height: auto;
    margin: auto auto auto 20px;
    background-color: red;
}

.shortcomings3{
    width: 70%;
    height: auto;
    margin: auto auto;
    background-color: rgb(0, 2, 15);
}

.mota{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    text-align: justify;
}

.footer{
    width: 100%;
    /* height: 1290px; */
    height: 200%;
    margin-top: -1202px;
    background-color: #0078ff;
    opacity: 0.6;
    z-index: 1000;
}

.contact{
    width: 80%;
    height: 350px;
    margin: -440px auto auto auto;
    background-color:rgb(226, 226, 226);
    position: relative;
    box-shadow: 0px 3px 3px rgb(51, 3, 3);
    z-index: 11;
}

.getInTouch{
    position: relative;
    font-size: 40px;
    font-family: fantasy;
    margin-left: 10%;
    bottom: -30px;
}

.socials ul li{
    list-style-type: none;
    display: flex;
}

.socials ul li:hover{
    cursor: pointer;
}

.facebook:hover{
    background-color:#3366FF;
    border: solid rgb(62, 210, 255);
}
.instagram:hover{
    background-color:#3366FF;
    border: solid rgb(62, 210, 255);
}
.twitter:hover{
    background-color:#3366FF;
    border: solid rgb(62, 210, 255);
}
.youtube:hover{
    background-color:#3366FF;
    border: solid rgb(62, 210, 255);
}
.pinterest:hover{
    background-color:#3366FF;
    border: solid rgb(62, 210, 255);
}
.facebook{
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border: solid blue;
    border-radius: 100px;
}

.instagram{
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border: solid blue;
    border-radius: 100px;
    margin-left: 30px;
}

.twitter{
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border: solid blue;
    border-radius: 100px;
    margin-left: 30px;
}

.youtube{
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border: solid blue;
    border-radius: 100px;
    margin-left: 30px;
}

.pinterest{
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border: solid blue;
    border-radius: 100px;
    margin-left: 30px
}

.final{
    background-color: rgb(4, 3, 58);
    height: 40px;
    margin-top: -15px;

}

.btnLink{
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: darkmagenta;
    padding-left: 10%;
}


/* RESPONSIVE */

@media only screen and (max-width: 1030px){
    .layer1{
        display: block;
    }
    .layer2a{
        width: 100%;
    }
    .layer2b{
        width: 100%;
    }
    .contact{
        height: 500px;
        margin-top: -230px;
    }
    .backgroundfoot{
        margin-top: 60%;
    }

}

@media (max-width: 1040px){
    div.header .menuHeader{
        display: none;
    }

    .show-menu{
        display: block;
    }
 
    div.menuHide ul#menu{
        padding: 1em;
        background: rgb(149, 215, 231);
    }
    div.menuHide ul li{
        list-style-type: none;
        /* line-height: 1.5em; */
        background: rgb(149, 215, 231);
        border-bottom: 1px solid silver;
    }

    div.menuHide ul li:hover{
        width: 90%;
        color: yellow;
        text-shadow: 2px -2px 2px black;
        text-decoration: underline;
    }

    div.menuHide .logo-menu .hinh{
        display: flex;
    }

    div.header{
        display: none;
    }

    div.menuHide{
        position: fixed;
    }

}

ul{
    display: none;
}

.menuHide{
    background-color:rgb(149, 215, 231);
    background-image: linear-gradient(rgb(149, 215, 231), cyan);
    width: 100%;
    height: 96px;
    position: fixed;
    margin-top: -300px;
    position: fixed;
    z-index: 199;
}

#menu{
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(48, 1, 109);

}

.hinh{
    display: none;
}

