@font-face{
    font-family: MyFont;
    src: url('../font/AlfaSlabOne-Regular.ttf');
}

body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    color:rgb(21, 1, 99);
    overflow-y: scroll;
}

.hieu_ung_chu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 9rem 3rem;
}

h1, h2{
    font-weight: 200;
    margin: 0.4rem;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size:2rem;
}

@media(min-width: 1200px) {
    h1{
        font-size: 5rem;
    }
}

@media(max-width: 800px){
    .hieu_ung_chu{
        padding: 0 1rem;
    }

    h1{
        font-size: 3rem;
    }
}

@media(max-width:500px) {
    h1 {
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.5rem;
    }
}

.danh_chu{
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sticky{
    background-color:rgb(149, 215, 231);
    background-image: linear-gradient(rgb(149, 215, 231), cyan);
    width: 100%;
    height: 80px;
    position: fixed;
    padding-top: 7px;
    padding-bottom: 7px;
    box-sizing: content-box;
    z-index: 200;
    box-shadow: 2px 5px 5px rgb(0,0,0,0.35);
    opacity: 0;
    transition: all .3s linear;
    animation: fade-in linear .35s forwards;
}


.un-sticky{
    background-color:rgb(149, 215, 231);
    background-image: linear-gradient(rgb(149, 215, 231), cyan);
    width: 100%;
    height: 80px;
    position: fixed;
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: content-box;
    z-index: 200;
    box-shadow: 2px 5px 5px rgb(0,0,0,0.35);
    transition: all .3s linear;
    animation: fade-out linear .35s forwards;
}

.header-scroll{
    opacity: 0;
}

.header{
    margin-top:-100px;
}

@keyframes fade-in{
    to{
        opacity: 1;
    }
}
@keyframes fade-out{
    to{
        opacity: 0;
    }
}



.list-menu ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin: -100px 200px 0 290px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(236, 253, 224);
    position: relative;
}

.color-text-menu{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin: -100px 200px 0 290px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(3, 1, 119);
    position: relative;
}


.menu-header li{
    margin-left: 30px;
}

.logo-mobile{
    position: absolute;
    margin: 2% 0 0 30%;
    display: none;
}

#gif-header{
    margin-left: 1050px;
    margin-top: -50px;
}

.header ul li:hover{
    text-decoration:none;
    color:  chocolate;
    cursor:pointer;
}
#myphoto{
    margin-top: 80px;
    z-index: 100;
    height: 80%;
    width: 100%;
}

.img-header{
    text-indent: 240px;
    padding: 10px;
    margin-top: -40px;
    margin-left: -100px;
}

.layout-information{
    width: 100%;
    height: 900px;
    background-color: rgb(198, 244, 255);
    margin-bottom: 1280px;
    margin-top: 170px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}

.layout-profile{
    width: 30%;
    height: 800px;
    margin: auto auto;
    box-shadow: -1px -2px 3px rgb(51, 3, 3); 
    background-color: whitesmoke;
}

.layout-about-me{
    width: 60%;
    height: 800px;
    margin: auto auto;
    box-shadow: 1px -2px 3px rgb(51, 3, 3);
    background-color: whitesmoke;
    position: relative;
}

.avatar{
    padding-top: 30px;
}

.item-information{
    margin: auto auto auto 20px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.hightlight-profile{
    width: 95%;
    height: 20px;
    background-color: rgb(53, 99, 252);
    margin: -15px auto 20px 0px;
}

.hightlight-education{
    width: 95%;
    height: 20px;
    background-color:rgb(53, 99, 252);
    margin: auto auto 20px 0px;
}

.item-about-me{
    margin-left: 20px;
    font-weight: bolder;
    font-size: 35px;
    font-family: monospace;
}

.underline{
    width: 15%;
    height: 3px;
    margin-left: 20px;
    background-color: blue;
}

.percent{
    margin-right: -210px;
}

.draw-skill{
    background-color: red;
    display: flex;
    position: relative;
    margin-left: 20px;
    width: 100%;
    height: auto;
}

.line-level{
    width: 70%;
    position: absolute;
    background-color: black;
}
.line-miss{
    width: var(--percent);
    position: absolute;
    color: red;
    background-color: red;
}

.line-miss-scroll{
    width: var(--percent);
    position: absolute;
    color: red;
    background-color: red;
    animation: growth linear 4s;
}


@keyframes growth{
    from{
        opacity: 0.5;
        width: calc(var(--percent) - 50%);
    }
    to{
        opacity: 1;
        width: var(--percent);
    }
}

.introduce-yourself{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    text-align: justify;
}

.item-programming-language{
    display: flex;
    width: 46%;
    justify-content: space-between;
}

.footer{
    width: 100%;
    height: 1305px;
    margin-top: -1290px;
    margin-bottom: -20px;
    background-color: #0078ff;
    opacity: 0.6;
    z-index: 1000;
}

.find-me{
    font-size: 25px; 
    margin-left: 110px;
}

.contact{
    width: 80%;
    height: 350px;
    margin: -460px 10% 50px 10%;
    background-color:rgb(226, 226, 226);
    position: absolute;
    box-shadow: 0px 2px 2px rgb(51, 3, 3);
    z-index: 11;
}

.get-in-touch{
    position: relative;
    font-size: 38px;
    font-family: MyFont;
    margin-left: 10%;
    bottom: -10px;
}

.img-icon{
    width: 20px;
    height: 20px;
    margin-left: 110px;
    margin-right: 10px;
}

.socials ul li{
    display: flex;
}

.socials ul li:hover{
    cursor: pointer;
}

.link:hover{
    background-color:#3366FF;
    border: solid rgb(62, 210, 255);
}

.link{
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border: solid blue;
    border-radius: 100px;
    margin-left: 30px;
}

.icons{
    margin-top: 7px;
    width:30px;
    height:30px;
}

.final{
    background-color: rgb(4, 3, 58);
    position: relative;
}

.btn-link{
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: darkmagenta;
    padding-left: 10%;
}

.layout-number{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    
}

.number-achievement{
    font-size: 20px; 
    color: rgb(255, 255, 255);
    margin-top: 200px
}

.count-number{
    font-size: 30px; 
    color: rgb(241, 241, 241);
}

.circle{
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: 14px solid rgb(248, 248, 248) ;
    border-radius: 100px;
}

/* RESPONSIVE */
@media screen and (max-width: 1030px){
    .desktop{display: none;}
    .mobile{display: block;}

    .layout-information{
        display: block;
        margin-bottom: -100px;
    }
    .layout-profile{
        width: 100%;
    }
    .layout-about-me{
        width: 100%;
    }
    .footer{
        margin-top: 100px;
        height: 1206px;
        margin-bottom: -1300px;
    }
    .contact{
        margin: 1200px auto -10px auto;
        width: 100%;
    }
    .introduce-yourself{
        font-size: 22px;
    }
    .percent{
        margin-right: -110px;
    }
    .menu-header ul{
        display: none;
    }
    .show-menu{
        display: block;
    }
    div.menu-hide ul#menu{
        padding: -3em;
        background: rgb(149, 215, 231);
    }
    div.menu-hide ul li{
        list-style-type: none;
        background: rgb(149, 215, 231);
        border-bottom: 1px solid silver;
    }
    div.menu-hide ul li:hover{
        width: 90%;
        color: yellow;
        text-shadow: 2px -2px 2px black;
        text-decoration: underline;
        cursor: grabbing;
    }
    div.menu-hide .logo-menu .image{
        display: flex;
    }
    div.header{
        display: none;
    }
    div.menu-hide{
        position: fixed;
        margin-top: -200px;
        box-shadow: 2px 5px 5px rgb(0,0,0,0.35);
    }
    .name{
        font-size: 35px;
    }
    .danh_chu{
        font-size: 30px;
    }
    .background-footer{
        margin-top: 1100px;
    }
    .layout-profile{
        height: 800px;
    }
    .layout-about-me{
        height: 1100px;
    }
    .get-in-touch{
        font-size: 25px;
    }
    .find-me{
        font-size: 14px;
        margin-left: 80px;
    }
    .link{
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }
    .icons{
        width: 15px;
        height: 15px;
    }
    .text-about{
        margin-left: -50px;
        font-size: 14px !important;
    }
    .text-about img{
        width: 14px;
        height: 14px;
    }
    .logo-mobile{
        display: inline-block;
    }
    .hieu_ung_chu{
        text-shadow: 1px -1px 3px rgb(66, 211, 255) !important;
        padding: 0 auto;
        margin-top: 200px;
        padding-top: 100px;
    }
    body{
        background-position-y: 80px;
    }
    .final{
        position: absolute;
        margin-top: 1500px;
        width: 100%;
        z-index: 1000;
    }
    .layout-number{
        display: block;
    }
    .number-achievement{
        padding-top: 100px;
        margin-top: 40px;
    }
    .circle{
        width: 50px;
        height: 50px;
        border: 8px solid rgb(248, 248, 248) ;
    }
    .circle img{
        width: 25px;
        height: 25px;
    }
    .background-photo{
        display: none;
    }
    #gif-header{
        display: none;
    }
    .header-show{
        display: none;
    }
}

ul{
    display: none;
}

.background-footer{
    position: relative;
}

.background-photo{
    position: absolute;
}

.menu-hide{
    background-color:rgb(149, 215, 231);
    background-image: linear-gradient(rgb(149, 215, 231), cyan);
    width: 100%;
    height: 96px;
    position: fixed;
    margin-top: -300px;
    position: fixed;
    z-index: 199;
}

#menu{
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(48, 1, 109);
}

.image{
    display: none;
}

.back-to-top{
    background-color: transparent;
    border-color: transparent;
    color: yellow;
}

.back-to-top:hover{
    opacity: 0.5;
    cursor: grabbing;
}

div.stars {
    width: 270px;
    display: inline-block;
  }
   
input.star { display: none; }
   
label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}
   
input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}
   
input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}
   
input.star-1:checked ~ label.star:before { color: #F62; }
   
label.star:hover { transform: rotate(-15deg) scale(1.3); }
   
label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}